@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./myVariables";

@import "header";
@import "cleanPage";
@import "contacts";

body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;

  // @include hide-scrollbar();
}

.index-wrapper {
  height: 100vh;
  margin: 0;
}

.left-section {
  height: 100vh;
  overflow-y: hidden;

  padding: 0;
}

.tab-header {
  @include hide-scrollbar();
}

.tab-content {
  height: 100%;
  overflow-y: auto;
}

.greeting-section {
  display: none;
}

@media (min-width: 768px) {
  .left-section {
    border-right: 1px solid $gray-300;
  }

  .index-wrapper {
    margin: 24px 24px;
  }

  .greeting-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
