@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./myVariables";

@import "header";
@import "cleanPage";
@import "contacts";

body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
}

.index-wrapper {
  margin: 0;

  @include hide-scrollbar();
}

.left-section {
  padding: 0;
}

.greeting-section {
  display: none;
}

@media (min-width: 768px) {
  .index-wrapper {
    margin: 24px 24px;
  }

  .greeting-section {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
