@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./myVariables";

@import "header";
@import "cleanPage";
@import "user_info";

@font-face {
  font-family: "Roboto Regular";
  src: url("../fonts/Roboto-Medium.ttf");
}

body {
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;

  background-color: #e5e5e5;

  //@include hide-scrollbar();
}

.index-wrapper {
  // height: 100vh;
  margin: 0;

  border-radius: $spacer;

  @include hide-scrollbar();
}

.left-section {
  height: 100vh;
  overflow-y: hidden;

  padding: 0;
}

.tab-header {
  position: sticky;
  top: 0;

  padding: 48px 24px 0;

  background-color: rgba(255, 255, 255, 1);
}

.tab-content {
  height: 100%;
  overflow-y: auto;
}

.greeting-section {
  display: none;
}

@media (min-width: 768px) {
  .left-section {
    border-right: 1px solid $gray-300;
  }

  .index-wrapper {
    margin: 24px 24px;
  }

  .greeting-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
