// @import "../../node_modules/bootstrap/scss/functions";
@import "./myVariables.scss";
//@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/maps";
// @import "../../node_modules/bootstrap/scss/utilities";

.header {
  background-color: $header-bg;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
  font-size: $font-size-sm;
  border-radius: $border-radius-xl 0 0 0;

  overflow: hidden;

  a {
    color: $col-fb;
  }

  .list-inline {
    display: flex;
    align-items: center;
  }

  .list-inline-item {
    padding: 0;
    margin: 0;
  }
}
