// @import "../../node_modules/bootstrap/scss/functions";
@import "./myVariables.scss";
//@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/maps";
// @import "../../node_modules/bootstrap/scss/utilities";

.nav {
  background-color: $lilac;
  font-size: $font-size-sm;

  padding: $spacer;

  display: grid;
  align-items: center;

  grid-template: auto / auto minmax(auto, 180px) auto auto auto;

  .logo-item {
    grid-column: 1 / 2;
    padding-left: 0;
  }
  .contacts-item {
    grid-column: 3 / 4;
  }
  .chats-item {
    grid-column: 4 / 5;
  }
  .profile-item {
    grid-column: 5 / 6;
    padding-right: 27px;
  }

  li {
    padding-left: 40px;
  }

  li.nav-item {
    align-items: center;

    .nav-link {
      display: flex;

      margin: 0;
      padding: 0;

      div.nav-text {
        display: none;
        // color: $white-fb;
      }
    }
  }
}

@media (min-width: 768px) {
  .nav {
    border-radius: $spacer 0px 0px 0px;
  }
}

// @media (min-width: 768px) {
//   .header {
//     border-radius: $border-radius-xl 0 0 0;
//     .menu {
//       display: flex;
//       justify-content: space-between;
//       margin: 16px 32px 16px 16px;

//       .menu-item {
//         .menu-link {
//           display: flex;

//           div {
//             display: inline;

//             margin-left: 8px;
//           }
//         }
//       }
//     }
//   }
// }
