// @import "../../node_modules/bootstrap/scss/functions";
@import "./myVariables.scss";
//@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/mixins";
// @import "../../node_modules/bootstrap/scss/maps";
// @import "../../node_modules/bootstrap/scss/utilities";

.header {
  background-color: $lilac;
  font-size: $font-size-sm;

  overflow: hidden;

  a {
    color: $white-fb;
  }

  .menu {
    display: grid;
    grid-template: auto / auto minmax(auto, 180px) auto auto auto;
    grid-template-areas: "logo . contacts messages profile";

    //justify-content: space-between;
    align-items: center;

    margin: 16px 16px 16px 16px;

    .menu-logo {
      grid-area: logo;
    }

    .menu-contacts {
      grid-area: contacts;
    }

    .menu-messages {
      grid-area: messages;
    }

    .menu-profile {
      grid-area: profile;
    }

    .menu-item {
      .menu-link {
        div {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    border-radius: $border-radius-xl 0 0 0;
    .menu {
      display: flex;
      justify-content: space-between;
      margin: 16px 32px 16px 16px;

      .menu-item {
        .menu-link {
          display: flex;

          div {
            display: inline;

            margin-left: 8px;
          }
        }
      }
    }
  }
}
