ul(class="nav nav-pills", id="pills-tab", role="tablist")
  li(class="nav-item logo-item")
    div(class="nav-link")
      img(src="../src/images/icons/Logo.svg", class="", width="25px", height="40px", alt="Hexlet Logo")
  li(class="nav-item contacts-item", role="presentation")
    button(class="nav-link active", data-bs-toggle="pill", data-bs-target="#contacts", type="button", role="tab", aria-controls="pills-contacts", aria-selected="true")
      img(src="../src/images/icons/people.svg", class="", width="25px", height="19px", alt="people")
      div(class="nav-text") Контакты
  li(class="nav-item chats-item", role="presentation")
    button(class="nav-link", data-bs-toggle="pill", data-bs-target="#chats", type="button", role="tab", aria-controls="pills-chats", aria-selected="false")
      img(src="../src/images/icons/chat.svg", class="", width="25px", height="23px", alt="people")
      div(class="nav-text") Сообщения
  li(class="nav-item profile-item", role="presentation")
    button(class="nav-link", data-bs-toggle="pill", data-bs-target="#profile", type="button", role="tab", aria-controls="pills-profile", aria-selected="false")
      img(src="../src/images/icons/person.svg", class="", width="19px", height="19px", alt="people")
      div(class="nav-text") Профиль