.greeting-wrapper
  .profile-greeting.px-3.py-3
    .profile.image
      img(src="./images/avatar_1.jpg", width="90px", height="90px", class="rounded-circle", alt="avatar")
    .profile-title.font-size-base.fw-bold Кодовёнок Хекслетович
    .profile-annotation.font-size-base Милый и скромный помощник начинающих разработчиков. Люблю JavaScript

.cards-wrapper
  .profile-card
    .card-title.font-size-sm Страна
    .card-info.font-size-sm Москва, Россия
    .card-logo
      img(src="../src/images/icons/global.svg", width="16px", height="16px", alt="global icon")

  .profile-card
    .card-title.font-size-sm Телефон
    .card-info.font-size-sm +7 (499) 123-45-67
    .card-logo.gray
      img(src="../src/images/icons/telephone.svg", width="16px", height="16px", alt="phone")

  .profile-card
    .card-title.font-size-sm Email
    .card-info.font-size-sm nikita.m@hexlet.io
    .card-logo
      img(src="../src/images/icons/mail.svg", width="16px", height="12px", alt="mail")

  .profile-card
    .card-title.font-size-sm Twitter
    .card-info.font-size-sm @n_mikhaylov
    .card-logo
      img(src="../src/images/icons/vector.svg", width="16px", height="12px", alt="twitter")