.header.order-md-1
  .menu
    .menu-item.menu-logo
      img(src="./images/icons/sprite.svg#logo", class="" width="25px", height="40px", alt="logo Hexlet")
      
    .menu-item.menu-contacts
      a(href="#contacts", class="menu-link")
        img(src="./images/icons/sprite.svg#people", class="", width="25px", height="19px", alt="people")
        div(class="") Контакты 

    .menu-item.menu-messages
      a(href="#", class="menu-link")
        img(src="./images/icons/sprite.svg#chat", class="", width="25px", height="23px", alt="chat")
        div(class="") Сообщения

    .menu-item.menu-profile
      a(href="#", class="menu-link")
        img(src="./images/icons/sprite.svg#person", class="", width="19px", height="19px", alt="person")
        div(class="") Профиль
