doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Layout-designer-project-59
  
    link(rel="stylesheet", href="./styles/app.css")

  body
    .index-wrapper
      .container-fluid.bg-light
        .row
          .left-section.col-12.col-md-6.col-xl-4.border-end.d-flex.flex-column
            include components/contact.pug
            include header.pug

          .main-section.col-12.col-md-6.col-xl-8
            .greeting-section
              include avatar.pug