doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Layout-designer-project-59
  
    link(rel="stylesheet", href="./styles/app.css")
    

  body
    .index-wrapper
      .container-fluid.bg-light
        .row
          .left-section.col-12.col-md-6.col-xl-4.d-flex.flex-column
            div(class="tab-content order-md-2", id="pills-tabcontent")
              div(class="tab-pane fade show active", id="contacts", role="tabpanel", aria-labelledby="pills-contacts-tab")
                .tab-header.bg-light
                  h2.mb-0 Контакты
                  .search-block.border-bottom.rounded-2
                    input(type="search", class="search-field bg-light", placeholder="Поиск по контактам")

                include components/contact.pug
                
              div(class="tab-pane fade", id="chats", role="tabpanel", aria-labelledby="pills-chats-tab")
                .tab-header.bg-light
                  h2.mb-0 Чаты
                  .search-block.border-bottom.rounded-2
                    input(type="search", class="search-field bg-light", placeholder="Поиск по сообщениям")

                include components/chats.pug
                
              div(class="tab-pane fade", id="profile", role="tabpanel", aria-labelledby="pills-profile-tab")
                .tab-header.bg-light
                  h2.mb-0 Профиль
                  .search-block.border-bottom.rounded-2
                    input(type="search", class="search-field bg-light", placeholder="Поиск по сообщениям")

                include components/profile.pug

            include components/header.pug

          .main-section.col-12.col-md-6.col-xl-8
            .greeting-section
              include components/avatar.pug

    script(defer src="../src/js/popper.min.js")
    script(defer src="../src/js/bootstrap.min.js")
