doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Layout-designer-project-59

    link(rel="stylesheet", href="./styles/app.css")

  body
    .container-fluid.bg-light
      .row
        .col-12.col-lg-4.p-0
          include header.pug 
          .row.sidebar
            .col Sidebar-section
        .col-12.col-lg-8 main
        